@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table>
    <tr>
        <td>Модель</td>
        <td>Производитель</td>
        <td>Цена</td>
    </tr>
    @foreach (var phone in Model)
    {
        <tr>
            <td>@phone.Number</td>
            <td>@phone.Organization?.Name</td>
            <td>@phone.Person?.FirstName</td>            
        </tr>
    }
</table>
